










#addTask {
  background-color: black;
  grid-column: 2 /4;
  grid-row: 1;
  text-align: center;
  color: white;
}

#addTask button {
  margin: 15px 0;
  font-size: 2rem;
  color: white;
}


body {
  background: rgb(194, 193, 193);
  font-family: 'Roboto';

}

#pomodoroDesc, p{
  margin: 1rem;
  text-align: center;
  grid-row: 4/5;
}


#calendar {
  background-color: #ffffff;
  grid-column: 2/4;
  grid-row: 2 / 4;
}

.navbar {
  background-color: rgb(0, 0, 0);
  color: white;
  z-index: 9999;
}

.page-container {
  margin-top: 75px;
}

#sectionWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);

}

#tasks {
  background-color: #efefef;
  grid-column: 1;
  grid-row: 1/4;
  height:43rem;
  overflow: scroll;
}

#colorInfo {
  background-color: #efefef;
  grid-column: 1;
  grid-row: 4/5;
  font-size:1.5rem;
}
#colorKey {
  color: white;
}

#legend {
  color:black;

}


#timer {
  background-color: #efefef;

  grid-column: 2;
  grid-row: 4/ 5;
}

#rewards {
  background-color: #efefef;
  grid-column: 3;
  grid-row: 4 / 5;
  text-align: center;
  display: flex;
  flex-direction: column;

}

#TrophyInfo {
  margin-top: auto;
}

.card {
  margin: 10px;
  color: white;
}


tr.calendar-body .calendar-day .day:hover {
  color: #000000;
  background-color: #ffffff;
  border-color: #ffffff;
}
tr.calendar-body .calendar-day .day.calendar-today {
  color: #000000;
  background-color: #efefef;
  border-color: #efefef;
}

tr.calendar-body .calendar-day .day.calendar-today:hover {
  color: #000000;
  background-color: #efefef;
  border-color: #efefef;
}

svg {
  text-align: center;
  position: relative;
  top: -10rem;
  right: -3rem;
  height: 300px;
  /* transform: rotate(-90deg); */

}

.timerCircle {

  stroke-dasharray: 600px;
  stroke-dashoffset: 0px;
  animation-duration: 1500s;
  animation-name: countdown;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: paused;


}

svg circle {

  stroke-linecap: round;
  stroke-width: 10px;
  stroke: #16bdfc;
  fill: #b4e9fe;
}

svg #countdown-number {
  stroke: #16bdfc;
  fill: #16bdfc;
  display: inline-block;


}

#countdown {
  position: relative;
  top: 5rem;
  margin: auto;
  
  text-align: center;
  font-size: 3em;
  color: white;
 
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }

  to {
    stroke-dashoffset: 600px;
  }
}

#pauseButton {
  display: none;
}

.timerbtns {
  margin-top: 0;
  margin-bottom: 0;;
  text-align: center;
}

.timerbtn {
  font-size: 2rem;
}

.rewardsText{
  font-size: 1rem;
  margin: 0.1rem;
}
.rewardsNumber{
  font-size: 1rem;
  margin:0.1rem;
  color: #6ea73c;
  font-weight: bold;
  
}
.rewardsHeader{
  margin-bottom:0.1rem;
}
.trophyContainer {
  position: relative;
  text-align:center;
  color: white;
}
.centered {
  position:absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bigTrophy{
  width: 100px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top:10px;
  margin-bottom:10px;
}

#roseFireButton {
  display: block;
  margin: 60px auto;
  color: white;
  background: #800000;
  font-size: 1.1em;
  padding: 10px 30px;
  border-radius: 5px;
}

.fb0000 {
  background-color: #FB0000
}

.f58929 {
  background-color: #f58929
}

.ffc717 {
  background-color: #ffc717
}

.\39 ad53b {
  background-color: #9ad53b
}

.\31 6bdfc {
  background-color: #16bdfc
}

.\38 821be {
  background-color: #8821be
}

.d41067 {
  background-color: #d41067
}

.\37 ffc03 {
  background-color: #7ffc03
}

.ff8b8b {
  background-color: #ff8b8b
}

.f8ad68 {
  background-color: #f8ad68
}

.ffe38b {
  background-color: #ffe38b
}

.cdea9e {
  background-color: #cdea9e
}

.b4e9fe {
  background-color: #b4e9fe
}

.b19ad6 {
  background-color: #b19ad6
}

.e3859a {
  background-color: #e3859a
}

.\38 08080 {
  background-color: #808080
}

.checkbox,
.subcheckbox {
  transform: scale(2);
}







/** Media Screens**/
@media screen and (max-width: 768px) {
  #addTask {
    background-color: black;
    grid-column: 2/3;
    grid-row: 2;
    text-align: center;
  }
  
  #addTask button {
    margin: 15px 0;
    font-size: 2rem;
  }
  #calendar {
    background-color: #ffffff;
    grid-column:2;
    grid-row:  3;
  }
  #sectionWrapper {
    display: grid;
    gap: 10px;
    
  }
  
  #tasks {
    background-color: #efefef;
    grid-column: 2/3;
    grid-row: 1;
    height: 25rem;
    overflow: scroll;
  }
  #timer {
    background-color: #efefef;
  
    grid-column: 2;
    grid-row: 5;
  }
  
  #rewards {
    background-color: #efefef;
    grid-column: 2/3;
    grid-row:  4;
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: column;
  
  }
  svg {
    text-align: center;
    position: relative;
    top: -10rem;
    right: -3rem;
    height: 300px;
    /* transform: rotate(-90deg); */
  
  }
}